API_ID=
API_HASH=
BOT_TOKEN=
ADMIN_ID=
TARGET_CHANNEL_ID=
MEGAUP_KEY_1=
MEGAUP_KEY_2=
MEGAUP_BASE_URL=https://megaup.net/api
MEGAUP_FOLDER_NAME=Hi-Res Music
MEGAUP_COOKIE=
CHUNK_SIZE_MB=1900
DOWNLOAD_DIR=/app/downloads
AUTO_SCAN_HOURS=9,21
